*.o
Makefile.ame
Makefile.ine
*.he
*.cppe
*.swp
config.h*
*~
*.orig
*.out
*.out.*
*.dump
dump.*
*.dump.*
Makefile
stamp-h1
alocal.m4
aclocal.m4
config.log
config.status
.kdbgrc.*
.deps
*.cache
sokoban
out
.settings
